<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css">
<link rel="icon" href="/images/A.png">
{{!--
<link rel="stylesheet" href="/css/navbar.css"> --}}
<link rel="stylesheet" href="/css/style.css">

<body>

    <div class="resetpassword-page">
        <div class="resetpassword-container">
            <div class="form-box" id="resetpassword-form">

                {{!-- <div class="status-icon {{type}}">
                    {{icon}}
                </div> --}}

                <h1>{{title}}</h1>

                <p>{{message}}</p>


                <a href="{{buttonLink}}" class="btn btn-primary">
                    {{buttonText}}
                </a>

                {{!-- <a href="{{buttonLink}}" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
                    {{buttonText}}
                </a> --}}

            </div>
        </div>
    </div>
</body>

</html>